<div class="container-fluid">
    <div class = "row">
      <div class = "col-md-12 appheader">
        <a href="/"><img  src="../../assets/images/my_logo.jpg" alt="my_logo"></a>
         <ul class = "header-elem head-text"><li><a href="/aboutme">About Me </a></li></ul>
         <ul class = "header-elem head-text"><li><a href="/myskills">My Skills </a></li></ul>
         <ul class = "header-elem head-text"><li><a href="/myprojects">My Projects </a></li></ul>
      </div>
      <div class="row gif-box animation-box">
      <div class = "row ">
            <h1> <span id ="first-name">Prabir</span><span id ="last-name">&nbsp;&nbsp;Padhy</span> </h1>
      </div>
      <div class="row">
          <h3 class = "software-dev-label">Full&nbsp;Stack&nbsp;Software&nbsp;Developer</h3>
      </div>
      <div class="row rocket">
          <img src="../../assets/images/rocket.gif" alt="rocket_gif">
      </div>
    </div>
    </div>
</div>